:root {
    --main-color: #62D0DF;
    --secondary-color: #F4F9E2;
    --accent-color: #22356F;
    --font: 'Abhaya Libre', serif;
}

/* header styles */

.header {
    background-color: var(--secondary-color);
    display: flex;
    padding-bottom: 191px;
}

.logo {
    text-decoration: none;
    font-style: var(--font);
    font-size: 24px;
    color: var(--main-color);
    margin-left: 179px;
    margin-right: 319px;
}

.main-logo {
    margin-top: 27px;
}

.navigation-list {
    display: flex;
    list-style: none;

}

.navigation-link {
    text-decoration: none;
    font-style: var(--font);
    font-size: 14px;
    color: var(--accent-color);
}

.navigation-item {
    margin-right: 35px;
    margin-top: 27px;
}

.contact-button {
    background-color: var(--main-color);
    border-radius: 50px;
    border-color: var(--main-color);
    margin-left: 319px;
    width: 150px;
    height: 50px;
    margin-top: 27px;
}

.button-word {
    color: white;
    font-style: var(--font);
    font-size: 14px;
}

/* section one styles */

.section-one {
    background-color: var(--secondary-color);
}

.main-title {
    font-style: var(--font);
    font-size: 48px;
    color: var(--accent-color);
    margin-left: 179px;
    margin-top: 42px;
}

.text-one {
    font-style: var(--font);
    font-size: 24px;
    color: var(--accent-color);
    margin-left: 179px;
}

.button-one {
    background-color: #F9B640;
    border-color: #F9B640;
    width: 150px;
    height: 50px;
    margin-left: 179px;
}

.button-one-word {
    font-style: var(--font);
    font-size: 16px;
    color: white;
}

.link-button-two {
    text-decoration: none;
    font-style: var(--font);
    font-size: 16px;
    color: #FAB63E;
    margin-left: 38px;
}

.question-box {
    margin-top: 63px;
    padding-bottom: 79px;
}

/* section two styles */

.section-two {
    background-color: var(--main-color);
    padding-top: 2px;
}

.question {
    font-style: var(--font);
    font-size: 36px;
    color: white;
    margin-top: 151px;
    margin-left: 178px;
}

.why-thrive {
    font-style: var(--font);
    font-size: 24px;
    color: white;
    margin-left: 178px;
    margin-top: 75px;
}

.rightpic {
    
}

/* footer styles */

.footer {
    background-color: var(--secondary-color);
    height: 80px;
    padding-top: 2px;
}

.copyright-link {
    text-decoration: none;
    font-style: var(--font);
    font-size: 14px;
    color: var(--accent-color);

}

.copyright-text {
    margin-top: 50px;
    margin-bottom: 26px;
    margin-left: 194px;
    margin-right: 1076px;
}